*{
box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}


header {
  background-color: #000;
  color: #fff; 
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;

}

.nav a {
  text-decoration: none;
  color: #fff;
}

#hero {
  height: 600px;
  filter: grayscale(70%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/hands-typing.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  padding: 10px 0 10px 3em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 3px rgba(0, 0, 0, 0.5);
}

#about-me .wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: center;
}

#about-me img {
width: 400px;
padding: 0 0 0 40px;
}

#services {
  background-color: #fafafa;
}

#services .wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  
}

#services article {
  display: flex;
  flex-direction:column;
  background-color: #fff;
  padding: 0 10px 0 20px;
}

#services h2 {
  text-align: center;
}

#services .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

h3 {
  max-width: 200px;
  display: flex;
  text-align: center;
}

.btn {
  display: inline; 
  background-color: #000;
  margin: auto;
  color:#fff;
  text-decoration:none;
  padding: 20px 10px 20px 10px;
  border: 2px solid black;
  border-radius: 5px;

}

.btn:hover {
  background-color: white;
  color: black;
  border: solid black;
}


#work .wrapper {
max-width: 940px;
text-align: center;
}

#work h2 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px 20px 20px;
}

#work p {
  text-align: center;
}

footer {
  background-color: black; 
  color: white; 
  text-align: center;
  padding: 20px; 
}







